@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
  font-family: "Inter", sans-serif;
}

/* Header section styles */

header .banner {
  width: 100%;
  max-width: 1320px;
  margin: 50px auto;
  border-radius: 16px;
  background-image: url("../images/Banner\ Image.png");
}
header .banner .banner-container {
  padding: 177px 344px;
  background: linear-gradient(180deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%);
  border-radius: 16px;
}
header .banner .banner-container h3 {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 16px;
}
header .banner .banner-container h1 {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  letter-spacing: 0%;
  text-align: center;
}

/* categories section styles */

.categories-container {
  width: 100%;
  max-width: 803px;
  margin: 120px auto;
}
.categories-container h1 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  line-height: 107px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 48px;
}
.categories-container h4 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 16px;
}
.categories-container h2 {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 48px;
}
.categories-container img {
  width: 100%;
}

/* midnight party section styles */
.midnight-party {
  width: 100%;
  max-width: 1320px;
  margin: 120px auto;
  border-radius: 16px;
  background-image: url("../images/Vectorrr.png");
}
.midnight-party .midnight-party-container {
  display: flex;
  padding: 68px 120px;
  align-items: center;
  gap: 40px;
  border-radius: 16px;
  background: linear-gradient(90deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%);
}
.midnight-party .midnight-party-container .midnight-party-text {
  max-width: 697px;
}
.midnight-party .midnight-party-container .midnight-party-text h1 {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 11%;
  text-align: left;
  width: 642px;
  margin-bottom: 24px;
}
.midnight-party .midnight-party-container .midnight-party-text p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 48px;
}
.midnight-party .midnight-party-container .midnight-party-text h4 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  margin-left: 24px;
}
.midnight-party .midnight-party-container .midnight-party-img img {
  width: 100%;
  vertical-align: middle;
}

/* new park hotel section */
.new-park-hotel-banner {
  width: 100%;
  max-width: 1320px;
  margin: 120px auto;
  border-radius: 16px;
}
.new-park-hotel-banner .new-park-hotel-container {
  padding: 100px 385px;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0) 100%
  );
}
.new-park-hotel-banner .new-park-hotel-container h3 {
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 0px;
}

.new-park-hotel-banner .new-park-hotel-container .btn-primary {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  border: 0;
  border-radius: 8px;
  background: rgb(255, 0, 0);
  padding: 16px 32px 16px 32px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.red {
  color: #ff0000;
}

/* coming soon section styles */
.coming-soon-banner {
  width: 100%;
  max-width: 1320px;
  margin: 120px auto;
  border-radius: 16px;
}
.coming-soon-banner .coming-soon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}
.coming-soon-banner .coming-soon-container .coming-soon-offer {
  width: 393px;
}
.coming-soon-banner .coming-soon-container .coming-soon-offer h4 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 16px;
}
.coming-soon-banner .coming-soon-container .coming-soon-offer h2 {
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.coming-soon-banner .coming-soon-container .coming-soon-offer p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
}
.coming-soon-banner .coming-soon-container .coming-soon-img img {
  box-sizing: border-box;
  border: 15px solid rgb(255, 0, 0);
  border-radius: 50%;
  padding: 45px;
}
.coming-soon-banner .coming-soon-container .coming-soon-last {
  width: 280px;
}
.coming-soon-banner .coming-soon-container .coming-soon-last h2 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 16px;
}
.coming-soon-banner .coming-soon-container .coming-soon-last p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 40px;
}

/* holiday section styles */

.holiday-banner {
  width: 100%;
  max-width: 1320px;
  margin: 120px auto;
  border-radius: 16px;
}
.holiday-banner .holiday-container h4 {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 16px;
}
.holiday-banner .holiday-container h1 {
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 91px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 28px;
}
.holiday-banner .holiday-container p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 64px;
}
.holiday-img-container {
  display: flex;
  background-image: url("../images/Rectangle\ 1.png"),
    url("../images/Rectangle\ 2.png");
  background-repeat: no-repeat;
  background-position: top right, bottom;
}
.holiday-img-container img {
  width: 100%;
  vertical-align: bottom;
}

/* portfolio section styles */
.portfolio-banner {
  width: 100%;
  max-width: 1320px;
  margin: 120px auto;
  border-radius: 16px;
}
.portfolio-banner .portfolio-container h4 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 16px;
}
.portfolio-banner .portfolio-container h2 {
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 22px;
}
.portfolio-banner .portfolio-container p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 48px;
  width: 70%;
}
.portfolio-img-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.portfolio-img-container img {
  width: 100%;
}

/* subscribe section styles */
.subscribe-banner {
  width: 100%;
  max-width: 1320px;
  margin: 120px auto;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
}
.subscribe-banner .subscribe-container {
  padding: 80px 212px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.subscribe-banner .subscribe-container img {
  margin-bottom: 46px;
}
.subscribe-banner .subscribe-container h2 {
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 22px;
}
.subscribe-banner .subscribe-container p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 48px;
}
.subscribe-banner .subscribe-container input[type="email"] {
  border-radius: 50px 0px 0px 50px;
  background: rgb(255, 255, 255);
  color: rgba(7, 2, 17, 0.3);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  padding: 20px 20px;
  width: 45%;
  border: 0;
}
.subscribe-banner .subscribe-container input[type="submit"] {
  border-radius: 0px 50px 50px 0px;
  background: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  padding: 20px 15px;
  width: 15%;
  border: 0;
}
.subscribe-inputs{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}

/* footer section styles */